//
// pricing.scss
//


.pricing-box {
    border: 1px solid #eeeef4;
    border-radius: 10px;
}

.pricing-box-active{
    box-shadow: $box-shadow;
}


.pricing-plan{
    color: $dark;
    font-size: 15px;
    font-weight: 600;
}

.pricing-price{
    font-size: 32px;
}

.pricing-month{
    color: $pink;
}

