//
// general.scss
//

body {
    font-family: $font-family-base;
    color: #000851 !important;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-secondary;
}

.btn,
.btn:focus,
button,
button:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    outline: none;
}

p{
    line-height: 1.8;
}

