//
// home.scss
//

.bg-home-1 {
    background: $bg-gradient;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 190px 0px;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-content {
    position: relative;
    z-index: 9;
}

.home-img {
    position: relative;
    z-index: 9;
}

.home-title {
    color: $white;
    font-size: 36px;
    max-width: 400px;
}

.home-desc {
    font-size: 16px;
    max-width: 370px;
}

.home-bg-overlay {
    background: url(../images/overlay.png);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.home-shape {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

.home-shape img {
    width: 100%;
    height: auto;
}


// ----------- index-2 ----------- //

.bg-home-2 {
    background: $bg-gradient;
    background-size: cover;
    padding-top: 100px;
    position: relative;
}

.home-title-2 {
    color: $white;
    font-size: 36px;
}

.home-desc-2 {
    font-size: 16px;
    max-width: 600px;
}

.home-img-2{
    img {
        position: relative;
        top: 80px;
        z-index: 1;
        box-shadow: $box-shadow;
    }
}

.home-button {
    span {
        position: relative;
        top: 8px;
        color: $white;
    }
}



// ----------- index-3 ----------- //

.bg-home-3 {
    background: $bg-gradient;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 170px 0px 140px 0px;
}

.home-icon-3{
    i{
        font-size: 30px;
        color: $white;
    }
}

.home-title-3{
    font-size: 32px;
    color: $white;
}

.home-desc-3{
    font-size: 16px;
}

.start-form {
    input {
        padding: 13px 28px;
        width: 100%;
        font-size: 14px;
        border: none;
        border-radius: 30px;
        padding-right: 180px;
    }
    button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 12px 24px;
    }
    form {
        position: relative;
        max-width: 450px;
    }
}

// ----------- index-4 ----------- //


.bg-home-4 {
    background: $bg-gradient;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 170px 0;
}


.home-4{
    position: relative;
    z-index: 9;
}

.home-title-4{
    font-size: 42px;
    color: $white;
    span{
        font-weight: 600;
    }
}


.home-desc-4{
    font-size: 18px;
}
